@charset "utf-8";

.header {
	width: 100%;
}

.logoutButton {
	text-align: right;
}

body {
	padding-top: 70px;
}

h1 {
	margin-bottom: 30px;
}

.headerPriority1 {
	background-color: #F1F5F9;
}

.bodyPriority1 {
	background-color: #F8FAFC;
}

.headerPriority2 {
	background-color: #FEF9C3;
}

.bodyPriority2 {
	background-color: #FEFCE8;
}

.headerPriority3 {
	background-color: #FEE2E2;
}

.bodyPriority3 {
	background-color: #FEF2F2;
}

.orderButton {
	padding: 0;
	border: 0;
	display: inline;
}

.error-message {
	display: none;
}

#title {
	font-size: 16px;
}

#detail #timeLimit {
	font-size: 12.8px;
}